<div class="container">
    <h1>Nuevo usuario</h1>

    <form action="/usuario/c" method="post" onsubmit="return validarUsuario()">
        <label for="idEmail">Correo</label>
        <input id="idEmail" type="text" name="loginemail" autofocus="autofocus" />

        <label for="idNombre">Nombre</label>
        <input id="idNombre" type="text" name="nombre" autofocus="autofocus" />
        <br />

        <label for="idApe">Apellido</label>
        <input id="idApe" type="text" name="apellido" />
        <br />

        <label for="idPassword">Contraseña</label>
        <input id="idPassword" type="password" name="password" />
        <br />

        <label for="idPassword">Repetir Contraseña</label>
        <input id="idPassword" type="password" name="passwordR" />
        <br />


        <input type="submit" />
        <br />
    </form>

</div>

<script>
    function validarUsuario() {

        var expresionNombre = /^[a-zA-ZÀ-ÿ\s]{1,40}$/;
        var expresionEmail = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        var email = document.getElementsByTagName("form")[0].loginemail.value.trim();
        var nombre = document.getElementsByTagName("form")[0].nombre.value.trim();
        var apellido = document.getElementsByTagName("form")[0].apellido.value.trim();
        var password = document.getElementsByTagName("form")[0].password.value.trim();
        var passwordR = document.getElementsByTagName("form")[0].passwordR.value.trim();

        var emailCorrecto = false;
        var nombreCorrecto = false;
        var apellidoCorrecto = false;
        var passwordCorrecto = false;

        if (expresionNombre.test(nombre)) {
            nombreCorrecto = true;
        } else {

            alert("El nombre no es correcto");
            nombreCorrecto = false;
        }

        if (expresionNombre.test(apellido)) {
            apellidoCorrecto = true;
        } else {

            alert("El apellido no es correcto");
            apellidoCorrecto = false;
        }

        if (expresionEmail.test(email)) {
            emailCorrecto = true;
        } else {
            alert("El correo no es correcto");
            emailCorrecto = false;
        }

        if (password.length >= 8) {
            passwordCorrecto = true;
        } else {

            alert("La contraseña debe tener al menos 8 caracteres");
            passwordCorrecto = false;
        }

        if(password === passwordR) {
            passwordCorrecto = true;
        } else {
            passwordR.value = "";
            password.value = "";
            alert("Las contraseñas no coinciden");
            passwordCorrecto = false;
        }

        return nombreCorrecto && apellidoCorrecto && emailCorrecto && passwordCorrecto;
    }
</script>