<div class="container">
    <h1>Nuevo juego</h1>

    <form action="/juego/c" method="post" enctype="multipart/form-data">
        <label for="idNombre">Nombre</label>
        <input id="idNombre" type="text" name="nombre" th:value="${nombreJuego}" autofocus="autofocus"/>
        <br><br>

        <label for="idDesc">Descripción</label>
        <br>
        <textarea id="idDesc" name="descripcion" rows="6" cols="50"></textarea>
        <br/><br/>

        <label>Géneros:</label>
        <div class="checkbox-inline-group">
            <th:block th:each="genero : ${generos}">
                <label>
                    <input type="checkbox" name="generosIds"
                           th:value="${genero.id}"
                           th:checked="${generosSeleccionados != null && generosSeleccionados.contains(genero.id)}" />
                    <span th:text="${genero.nombre}"></span>
                </label>
            </th:block>
        </div>
        <br/><br/>

        <!-- Campo de texto para ingresar el precio directamente -->
        <label for="precio">Precio (€):</label>
        <input type="number" step="0.01" min="0" id="precio" name="precio" placeholder="Introduce el precio">
        <br/><br/>

        <label for="portada">Selecciona una imagen de portada:</label>
        <input type="file" name="portadaFile" accept="image/*" required />
        <br/><br/>

        <label for="imagenes">Selecciona hasta 5 imágenes:</label>
        <input id="imagenes" type="file" name="imagenes" multiple="multiple" accept="image/*" />
        <br/><br/>

        <input type="submit" value="Crear juego con imágenes"/>
    </form>
</div>
