<div class="container">
    <h1>Nuevo juego</h1>

    <form action="/juego/c" method="post" enctype="multipart/form-data">
        <label for="idNombre">Nombre</label>
        <input id="idNombre" type="text" name="nombre" th:value="${nombreJuego}" autofocus="autofocus"/>
        <br><br>

        <label for="idDesc">Descripción</label>
        <br>
        <textarea id="idDesc" name="descripcion" rows="6" cols="50"></textarea>
        <br/><br/>

        <label>Géneros:</label>
        <div class="checkbox-inline-group">
            <th:block th:each="genero : ${generos}">
                <label>
                    <input type="checkbox" name="generosIds"
                           th:value="${genero.id}"
                           th:checked="${generosSeleccionados != null && generosSeleccionados.contains(genero.id)}" />
                    <span th:text="${genero.nombre}"></span>
                </label>
            </th:block>
        </div>
        <br/><br/>

        <label for="idPrecio">Precio:</label>
        <select id="idPrecio" name="precioId">
            <option value="" disabled selected>Selecciona un precio</option>
            <th:block th:each="precio : ${precios}">
                <option th:value="${precio.id}"
                        th:text="${precio.cantidad + ' €'}"
                        th:selected="${precio.cantidad == precioSeleccionado}"></option>
            </th:block>
        </select>
        <a href="/precio/c">(Nuevo precio)</a>
        <br/><br/>

        <label for="portada">Selecciona una imagen de portada:</label>
        <input type="file" name="portadaFile" accept="image/*" required />
        <br/><br/>

        <label for="imagenes">Selecciona hasta 5 imágenes:</label>
        <input id="imagenes" type="file" name="imagenes" multiple="multiple" accept="image/*" />
        <br/><br/>

        <input type="submit" value="Crear juego con imágenes"/>
    </form>
</div>
