<footer class="footer">
    <div class="footer-contenido">
        <p>&copy; 2025 LevelUpGames. Todos los derechos reservados.</p>

        <div class="footer-repos">
            <span>Repositorios del equipo:</span>
            <ul class="repos-lista">
                <li><a href="https://github.com/alinnnn02" target="_blank">GitHub de Alin</a></li>
                <li><a href="https://github.com/CarloosCT" target="_blank">GitHub de Carlos</a></li>
                <li><a href="https://github.com/ErChechi" target="_blank">GitHub de Cesar</a></li>
            </ul>
        </div>
    </div>
</footer>