<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{_t/head.html}"></div>
<div th:replace="~{_t/bootstrap.html}"></div>

<link rel="stylesheet" href="/css/home/home.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" th:href="@{${estilos}}">

<div th:replace="~{_t/head_cierre.html}"></div>
<div th:replace="~{_t/nav.html}"></div>
<div th:replace="~{${view}}"></div>
<div th:replace="~{_t/end.html}"></div>
<footer th:replace="~{_t/footer.html}"></footer>
