<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{_t/head.html}"></head>
<head th:replace="~{_t/bootstrap.html}"></head>

<link rel="stylesheet" href="/css/home/home.css">
<link rel="stylesheet" th:href="@{${estilos}}">
<head th:replace="~{_t/head_cierre.html}"></head>

<body>
  <div class="wrapper">
    <div th:replace="~{_t/nav.html}"></div>

    <main>
      <div th:replace="~{${view}}"></div>
    </main>

    <footer th:replace="~{_t/footer.html}"></footer>
  </div>

  <div th:replace="~{_t/end.html}"></div>
</body>

</html>