<section class="search-bar">
    <input type="text" id="search" placeholder="Buscar ...">

    <div class="dropdown">
        <button class="dropbtn">Filtro</button>
        <div class="dropdown-content">
            <a href="#">Acción</a>
            <a href="#">Aventura</a>
            <a href="#">Estrategia</a>
            <a href="#">RPG</a>
            <a href="#">Carreras</a>
            <a href="#">Arcade</a>
        </div>
    </div>
</section>

<section class="hero">
    <h2>Bienvenido a LevelUpGames</h2>
    <p>Compra los mejores videojuegos al mejor precio</p>
</section>

<section class="games">
    <th:block th:each="juego : ${juegos}">
        <div class="game-card">
            <!-- Mostrar la primera imagen -->
            <img th:src="@{/uploads/{img}(img=${juego.imagenes[0]?.ruta})}" th:alt="${juego.nombre}" />
            <h3 th:text="${juego.nombre}"></h3>
            <p th:text="${juego.precio.cantidad + ' €'}"></p>
            <div class="categories">
                <span class="category" th:each="genero : ${juego.generos}" th:text="${genero.nombre}"></span>
            </div>

            <!-- Mostrar todas las imágenes del juego -->
            <div class="game-images">
                <th:block th:each="imagen : ${juego.imagenes}">
                    <img th:src="@{'/uploads/' + ${imagen.ruta}}" alt="Imagen del juego" style="max-height: 150px;">
                </th:block>
            </div>
        </div>
    </th:block>
</section>