<nav class="admin-links">
    <a href="/genero/c">Nuevo género</a>
    <a href="/genero/r">Listado géneros</a>
    <a href="/precio/c">Nuevo precio</a>
    <a href="/precio/r">Listado precios</a>
    <a href="/imagen/r">Listado imágenes</a>
    <a href="/juego/c">Nuevo juego</a>
</nav>

<h3 class="game-list-title">Lista de Juegos</h3>
<div class="game-list">
    <div class="game-card" th:each="juego : ${juegos}">
        <a th:href="@{/juego/{id}(id=${juego.id})}" target="_self">
            <h3 th:text="${juego.nombre}">Nombre del juego</h3>
        </a>
    </div>
</div>

<!-- Sección para mostrar solicitudes -->
<h3 class="solicitudes-title">Solicitudes de Desarrollador Pendientes</h3>
<div class="solicitudes-list">
    <div class="solicitud-card" th:each="sol : ${solicitudes}">
        <p><strong>Usuario:</strong> <span th:text="${sol.usuario.nombre}">Nombre Usuario</span></p>
        <p><strong>Portfolio URL:</strong> <a th:href="${sol.portfolioUrl}" th:text="${sol.portfolioUrl}" target="_blank">Portfolio</a></p>
        <p><strong>Biografía:</strong></p>
        <p th:text="${sol.biografia}">Descripción biográfica...</p>

        <form th:action="@{/panel_administrador/aprobar}" method="post" >
            <input type="hidden" name="id" th:value="${sol.id}" />
            <button type="submit">Aprobar</button>
        </form>

        <form th:action="@{/panel_administrador/rechazar}" method="post">
            <input type="hidden" name="id" th:value="${sol.id}" />
            <button type="submit">Rechazar</button>
        </form>

        <hr/>
    </div>
</div>