<div class="panel-dev">
    <h1>Panel de Desarrollador</h1>

    <div class="dev-buttons">
        <a th:href="@{/juego/c}">Crear nuevo juego</a>
    </div>

    <div th:if="${juegos != null and !juegos.isEmpty()}">
        <h3 class="game-list-title">Tus Juegos</h3>
        <div class="pagination">
            <a th:if="${currentPage > 0}" th:href="@{/panel_desarrollador/r(page=${currentPage - 1})}"
                class="page-btn">Anterior</a>

            <span th:text="'Página ' + (${currentPage + 1}) + ' de ' + ${totalPages}"></span>

            <a th:if="${currentPage + 1 < totalPages}" th:href="@{/panel_desarrollador/r(page=${currentPage + 1})}"
                class="page-btn">Siguiente</a>
        </div>
        <section class="game-list">
            <div th:each="juego : ${juegos}" class="game-card">
                <div th:if="${juego.portada != null}">
                    <img th:src="${juego.portada.ruta}" th:alt="${juego.nombre}" />
                </div>
                <h3 th:text="${juego.nombre}"></h3>
                <p class="precio" th:text="${juego.precioActual != null 
                 ? (juego.precioActual.cantidad.compareTo(T(java.math.BigDecimal).ZERO) == 0 
                    ? 'Gratis' 
                    : juego.precioActual.cantidad + ' €') 
                 : 'Sin precio'}">
                </p>
                <p>
                    <span th:each="genero : ${juego.generos}">
                        <span class="category" th:text="${genero.nombre}"></span>
                    </span>
                </p>

                <!-- 🔧 NUEVO DIV PARA ICONOS -->
                <div class="card-actions">
                    <form th:action="@{/juego/u}" method="get">
                        <input type="hidden" name="id" th:value="${juego.id}" />
                        <button type="submit"><img src="/img/icons/edit.png" alt="Editar" /></button>
                    </form>
                    <form th:action="@{/juego/d}" method="post">
                        <input type="hidden" name="id" th:value="${juego.id}" />
                        <button type="submit"><img src="/img/icons/trash.png" alt="Eliminar" /></button>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <div th:if="${juegos == null or juegos.isEmpty()}" class="no-juegos">
        <p>Cuando hagas tu primer juego, aparecerá aquí!</p>
    </div>
</div>