<nav>
    <h1>LevelUpGames</h1>
    <ul class="menu-left">
        <li><a href="#">Página Principal</a></li>
        <li><a href="#">Biblioteca</a></li>
        <li><a href="#">Mis ventas</a></li>
		<li><a href="/panel_administrador/r">Panel de administrador</a></li>
    </ul>
    <ul class="menu-right">
        <li><a href="#">Bienvenido usuario registrado</a></li>
    </ul>
</nav>

<!--<nav class="container bg-dark  rounded">
	<ul class="nav nav-tabs">

		<li class="nav-item navbar-brand">
			<a class="nav-link " aria-current="page" href="/">
				<img src="/img/icons/home.png" alt="INICIO" style="width:40px;">
			</a>
		</li>

		<div th:if="${session.user==null}">
			<a href="/persona/login" >LOGIN / </a>
			<a href="/persona/c"> REGISTRO</a>
		</div>

		<div th:if="${session.user!=null}">
			<span class="text-light" th:text="|Hola ${session.user.nombre} ${session.user.apellido} |"/>
			<a href="/persona/logout">LOGOUT</a>
		</div>-->


		<!--
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
				Listados
			</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="/pais/r">Países</a></li>
				<li><a class="dropdown-item" href="/aficion/r">Aficiones</a></li>
				<li><a class="dropdown-item" href="/persona/r">Personas</a></li>
			</ul>
		</li>
		-->

	</ul>
</nav>