<nav>
	<div class="nav-left">
		<h1>LevelUpGames</h1>
		<ul class="menu-left">
			<li><a href="/">Página Principal</a></li>
			<li th:if="${session.user != null and session.user.rol.nombre == 'user'}"><a href="#">Biblioteca</a></li>
			<li th:if="${session.user != null and session.user.rol.nombre == 'user'}"><a href="#">Mis ventas</a></li>
			<li th:if="${session.user != null and session.user.rol.nombre == 'admin'}"><a href="/panel_administrador/r">Panel de administrador</a></li>
		</ul>
	</div>

	<div class="menu-right">
		<div th:if="${session.user == null}">
			<a href="/usuario/login">Log in</a>
			<a href="/usuario/c">Registrarse</a>
		</div>

		<div th:if="${session.user != null}">
			<span th:text="|Hola ${session.user.nombre} ${session.user.apellido}|"></span>
			<a href="/usuario/logout">LOGOUT</a>
		</div>
	</div>
</nav>