<form id="filter-form" method="get" action="/">
  <section class="search-bar">
    <input type="text" id="search" name="search" th:value="${search}" placeholder="Buscar ...">
    <input type="hidden" name="genero" id="genero-hidden" th:value="${genero}">
  </section>

  <div class="filtro-generos-horizontal">
    <a href="#" data-genero="" class="genero-link"
       th:classappend="${genero} == null ? ' active' : ''">Todos</a>

    <a href="#" th:each="g : ${generos}" th:attr="data-genero=${g.nombre}" th:text="${g.nombre}"
       class="genero-link"
       th:classappend="${genero} == ${g.nombre} ? ' active' : ''"></a>
  </div>
</form>

<div class="pagination">
  <a th:if="${currentPage > 0}"
     th:href="@{/(page=${currentPage - 1}, search=${search}, genero=${genero})}"
     class="page-btn">Anterior</a>

  <span th:text="'Página ' + (${currentPage} + 1) + ' de ' + ${totalPages}"></span>

  <a th:if="${currentPage + 1 < totalPages}"
     th:href="@{/(page=${currentPage + 1}, search=${search}, genero=${genero})}"
     class="page-btn">Siguiente</a>
</div>

<section class="games">
  <th:block th:each="juego : ${juegos}">
    <div class="game-card" th:attr="data-name=${juego.nombre.toLowerCase()}"
         th:attrappend=" data-generos=${juego.nombresGeneros}">
      <a th:href="@{/juego/r/{id}(id=${juego.id})}" target="_self" style="text-decoration: none; color: inherit;">
        <div th:if="${juego.portada != null}">
          <img th:src="${juego.portada.ruta}" th:alt="${juego.nombre}" />
        </div>
        <h3 th:text="${juego.nombre}"></h3>
        <p class="precio" th:text="${juego.precioActual != null 
                         ? (juego.precioActual.cantidad.compareTo(T(java.math.BigDecimal).ZERO) == 0 
                            ? 'Gratis' 
                            : juego.precioActual.cantidad + ' €') 
                         : 'Sin precio'}">
        </p>
        <p>
          <span th:each="g : ${juego.generos}">
            <span class="category" th:text="${g.nombre}"></span>
          </span>
        </p>
      </a>
    </div>
  </th:block>
</section>

<script src="/js/home/home.js"></script>

