<div class="container">
    <h1>Nuevo usuario</h1>

    <form action="/usuario/c" method="post">
        <label for="idEmail">Correo</label>
        <input id="idEmail" type="text" name="loginemail" autofocus="autofocus" />

        <label for="idNombre">Nombre</label>
        <input id="idNombre" type="text" name="nombre" autofocus="autofocus" />
        <br />

        <label for="idApe">Apellido</label>
        <input id="idApe" type="text" name="apellido" />
        <br />

        <label for="idPassword">Contraseña</label>
        <input id="idPassword" type="password" name="password" />
        <br />


        <input type="submit" />
        <br />
    </form>

</div>