<div class="container">
    <h1>Lista de Géneros</h1>
    
    <form action="/genero/c">
        <input type="submit" value="Nuevo" autofocus="autofocus" />
    </form>
    
    <table class="table table-striped">
        <thead>
            <th>Nombre</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </thead>
    
        <tbody>
            <tr th:each=" genero : ${generos}">
                <td th:text="${genero.nombre}"/>
                <td>
                    <form action="/genero/u" method="get">
                        <input type="hidden" name="id" th:value="${genero.id}" />
                        <button type="submit" >
                            <img alt="lapiz" src="/img/icons/edit.png" width="20" height="20"/>
                        </button>
                    </form>
                </td>

                <td>
                    <form action="/genero/d" method="post">
                        <input type="hidden" name="id" th:value="${genero.id}" />
                        <button type="submit" >
                            <img alt="papelera" src="/img/icons/trash.png" width="20" height="20"/>
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>